/* =============
    Demo
============= */

#draw-svg-container{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". svg .";
    height: 100vh;

    >div{
        grid-area: svg;
        display: flex;
        justify-content: center;
        align-items: center;

        #svg{
            width: 100vh;
        }

        #ghost{
            visibility: hidden;
        }
    }
}